<div class="container text-center mt-5">
  <div class="row justify-content-center">
    <h1 class="col-12">Timer</h1>
    <div class="col-12 my-3">
      <p style="font-size: 4rem; font-weight: 400">
        {{ time.hours | timer }}:{{ time.minutes | timer }}:{{
          time.seconds | timer
        }}
      </p>
    </div>
    <div class="col-3 d-flex flex-column">
      <button
        *ngIf="!isActive"
        class="btn btn-outline-success mb-1"
        (click)="startTimer()"
      >
        Start
      </button>
      <button
        *ngIf="isActive"
        class="btn btn-outline-danger mb-1"
        (click)="stopTimer()"
      >
        Stop
      </button>

      <button
        *ngIf="!pause"
        class="btn btn-outline-warning mb-1"
        (click)="pauseTimer()"
        [disabled]="!isActive"
      >
        Pause
      </button>

      <button
        *ngIf="pause"
        class="btn btn-warning mb-1"
        (click)="continueTimer()"
        [disabled]="!isActive"
      >
        Continue
      </button>

      <button class="btn btn-outline-primary" [disabled]="!isActive" #reset>
        Reset
      </button>
    </div>
  </div>
</div>
